/*==============================
    Accordion → Paylist
==============================*/
.paylist {
  background-color: #28282d;
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* padding: 20px; */
  /* overflow: hidden; */ /*넘치는 부분은 자름*/
  overflow: visible; 
  /* max-height: 303px; */
  /* height: 303px; */
}
.paylist__card {
  background-color: #2b2b31;
  margin-bottom: 20px;
}
.paylist__card .card-header button {
  width: 100%;
  text-align: left;
  padding: 10px 45px 10px 15px;
  position: relative;
}
.paylist__card .card-header button span {
  display: block;
}
 .paylist__card .card-header button span:first-child {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin: 0;
}
/*.paylist__card .card-header button span:last-child {
  color: rgba(255,255,255,0.5);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
} */
.paylist__card .card-header button span{
  color: rgba(255,255,255,0.5);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.paylist__card .card-header button:before {
  content: '\f3d0';
  font-family: "Ionicons";
  position: absolute;
  display: block;
  background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff5860;
  font-size: 24px;
  right: 15px;
  top: 50%;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.paylist__card .card-header button[aria-expanded="true"]:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.paylist__card .card-header button[aria-expanded="true"] span:first-child {
  color: #ff55a5;
}
.paylist__card .card-header button:hover span:first-child {
  color: #ff55a5;
}
.paylist__card .card-body {
  padding: 10px 15px;
  border-top: 1px solid rgba(255,255,255,0.05);
}
.paylist__list {
  width: 100%;
}
.paylist__list thead tr {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.paylist__list thead th {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
}
.paylist__list tbody tr {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  cursor: pointer;
}
.paylist__list tbody tr:hover {
  background-color: rgba(255,255,255,0.01);
}
.paylist__list tbody tr:last-child {
  border-bottom: none;
}
.paylist__list tbody th,
.paylist__list tbody td {
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  padding: 5px 10px 5px;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 1200px) {
  .paylist {
    max-height: 303px;
    height: 303px;
  }
}



/*==============================
    Paylist Paginator
==============================*/
.paylist__paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px;
  background-color: #2b2b31;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 50px;
  width: 290px;
}
.paylist__paginator__item {
  margin: 0;
}
.paylist__paginator__item a {
  font-size: 16px;
  height: 50px;
  width: 50px;
  display: block;
  line-height: 50px;
  color: rgba(255,255,255,0.5);
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.paylist__paginator__item:hover a {
  color: #fff;
}
.paylist__paginator__item--prev,
.paylist__paginator__item--next {
  display: block;
  position: relative;
  height: 50px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.paylist__paginator__item--prev a,
.paylist__paginator__item--next a {
  font-size: 18px;
}
.paylist__paginator__item--active a {
  color: #fff;
  cursor: default;
  font-weight: 500;
  background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  -webkit-box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
  box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
}
.paylist__paginator__item--active a:hover {
  color: #fff;
}
@media (min-width: 360px) {
  .paylist__paginator {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .paylist__paginator {
    margin: 30px auto;
  }
  .paylist__paginator--list {
    margin: 10px auto 30px;
  }
}
@media (min-width: 1200px) {
  .paylist__paginator--list {
    margin: 20px auto 30px;
  }
}